*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background-color: #ccc;
  font-family: sans-serif;
}

.heading{
  color: darksalmon;
  text-align: center;
}

.text{
  color: brown;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}